<section class="my-5 container">
  <h2  class="text-center text-warning mb-3">Login User</h2>
  <div *ngIf="msg" class="alert alert-danger mb-3">{{msg|json}}</div>
  <form [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="mb-3">
          <input class="form-control" formControlName="email" placeholder="email">
          <div class="alert alert-danger my-2" *ngIf="email?.invalid  && (isSubmitted || email?.dirty || email?.touched)">
              <li *ngIf="email?.errors?.['required']">required</li>
              <li *ngIf="email?.errors?.['email']">must be an email</li>
          </div>
          <div class="alert alert-danger my-2" *ngIf="emailUniqueError">{{emailUniqueError}}</div>
      </div>
      <div class="mb-3">
          <input class="form-control" formControlName="password" placeholder="password">
          <div class="alert alert-danger my-2" *ngIf="password?.invalid && (isSubmitted || password?.dirty || password?.touched)">
              <li *ngIf="password?.errors?.['required']">required</li>
              <li *ngIf="password?.errors?.['minlength']">min length 5 chars</li>
              <li *ngIf="password?.errors?.['maxlength']">max length 20 chars</li>
          </div>
      </div>
      <div class="mb-3">
          <button class="btn btn-primary">login</button>
      </div>
  </form>
</section>
<!-- test login form -->
<!-- <section class="container p-5">
    <h3 class="text-center text-warning p-3">Login Form</h3>
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <div class="mb-3">
          <input type="email" class="form-control" placeholder="email" formControlName="email">
        </div>
        <div class="mb-3">
          <input type="password" class="form-control" placeholder="password" formControlName="password">
        </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</section> -->